
.homepage-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.hero {
    background-image: url('../assets/images/Necklace.jpg');
    background-size: cover;
    background-position: center center;
    min-height:1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background-color: #333; /* Fallback color */
}


.hero h1 {
    font-size: 3rem;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.product-card {
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: auto;
}